body{
    width: 100%;
    height: 100%;
background-color: rgb(159, 245, 245);

}

header, aside, main, footer {
    border: 1px solid black;
}

header{
    width: 93%;
    padding: 3%;
    font-size: 30px;
    background-color: white;
}
#container{
    flex-grow: 4;
    min-width: 0px;
    max-width: 1920px;
}



aside {
    
    width: 100%;
    height: 31%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
    background-color: rgb(211, 207, 207);
}

iframe{
    width: 400px;
    height:  205px;
}

main {
    display: flex;
    align-items: flex-end;
    width: 1000px;
    height: 560px;
    margin-top: 2%;
    margin-right: 3%;
    padding-left: 3%;
    margin-left: 5%;
}


section {
    width: 263px;
    height: 520px;
    margin-right: 7%;
}


footer{
    width: 95%;
    margin-top: 1%;
    padding: 2%;
    text-align: center;
    background-color: white;
}

@media (min-width: 768px) {
    #container{
        display: flex;
        flex-direction: row;
        
    }

    
    #containerIframe{
        display: flex;
        flex-direction: column;

        order: 1;
    }

    main {
        display: flex;
        justify-content: center;
        order: 2;
    }
    

 }

 @media (max-width: 768px) {

    #containerIframe{
        display: flex;
        flex-direction: row;
    }
   

 }
