body{
background-color: rgb(159, 245, 245);
}

header, aside, main, footer {
    border: 1px solid black;
}

header{
    padding: 3%;
    font-size: 30px;
    background-color: white;
}

aside {
    float: left;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
    background-color: rgb(211, 207, 207);
}

#container{
    min-width: 0px;
    max-width: 1920px;
}

main {
    float: right;
    width: 1000px;
    height: 810px;
    margin-top: 3%;
    margin-right: 3%;
    display: flex;
    align-items: center;
    padding-left: 7%;
}

section {
    width: 263px;
    height: 714px;
    margin-right: 7%;
}

footer{
    float: unset;
    margin-top: 55%;
    padding: 2%;
    text-align: center;
    background-color: white;
}

iframe{
    width: 400px;
    height:  205px;
}